.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

a:link {
  color: #0017bb;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #001799;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #eab500;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #001764;
  background-color: transparent;
  text-decoration: underline;
}

article {
  float: left;
  padding: 30px;
  text-align: left;
  width: 70%;
}

aside {
  float: left;
}
